<!DOCTYPE html>
<html>
<head>
    <title></title>
    <style>
        table{
            border-collapse: collapse;
        }
        th, td {
            border: 2px solid black;
            padding: 8px; 
            text-align: left; 
        }
        td ul, td ol{
            list-style-position: inside; 
            padding-left: 0;
        }
    </style>
</head>
<body>
    <h1>Home Page</h1>

    {% if app.user %}
        <p>Welcome {{ app.user.username }}!</p>
        <a href="{{ path('app_logout') }}">Logout</a>
    {% else %}
        <p>Welcome, Guest!</p>
        <a href="{{ path('app_login') }}">Login</a>
        <br>
        <a href="{{ path('app_register') }}">Register</a>
    {% endif %}

    {% if posts | length > 0 %}
        <table>

            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Creation Date</th>
            </tr>

            {% for post in posts %}
                <tr>
                    <td><a href="{{ path('post_detail', {'id': post.id }) }} "> {{ post.title }} </a></td>
                    <td>{{ post.author }}</td>
                    <td>{{ post.created|date('Y-m-d H:i:s') }}</td>
                </tr>
            {% endfor %}

        </table>

    {% else %}
        <p>Nothing posted yet.</p>
    {% endif %}

    <br>
    {% if app.user %}
        <a href="{{ path('e03_index' ) }}">
            <button> Create Post </button>
        </a>
    {% endif %}
    

</body>
</html>