<!DOCTYPE html>
<html>
    <head>
        <title>Colors</title>
        <style>
            table {
                border-collapse: collapse;
            }
            th, td {
                width: 80px;
                height: 40px;
            }
        </style>
    </head>
    <body>
        
    <table border="1">
        <tr>
            <th>Black</th>
            <th>Red</th>
            <th>Blue</th>
            <th>Green</th>
        </tr>

        {% for i in colors %}
            <tr>
                <td style="background-color: #{{ i }}{{ i }}{{ i }}"></td>
                <td style="background-color: #{{ i }}0000"></td>
                <td style="background-color: #00{{ i }}00"></td>
                <td style="background-color: #0000{{ i }}"></td>
            </tr>
        {% endfor %}

    </table>

    </body>
</html>
