<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Read Users</title>
    <style>
        table{
            border-collapse: collapse;
        }
        th, td {
            border: 2px solid black;
            padding: 8px; 
            text-align: left; 
        }
        td ul, td ol{
            list-style-position: inside; 
            padding-left: 0;
        }
    </style>
</head>
<body>
    {% if results|length > 0%}
        <table>
            <tr>
            <th>UserName</th>
            <th>Name</th>
            <th>Email</th>
            <th>Enable</th>
            <th>Birthdate</th>
            <th>Address</th>
            <th>Exist</th>
            <th>Update</th>
            
            </tr>

                {% for result in results %}
                    <tr>
                        <td> {{ result.username }} </td>
                        <td> {{ result.name }} </td>
                        <td> {{ result.email }} </td>
                        <td> {{ result.enable }} </td>
                        <td> {{ result.birthdate }} </td>
                        <td> {{ result.address }} </td>
                        <td><a href="/e06/delete/{{ result.id }}"> Delete </a></td>
                        <td><a href="/e06/update/{{ result.id }}"> Update </a></td>
                    </tr>
                {% endfor %}
        </table> 
    {% else %}
        <p>No row in table</p>
    {% endif %}

    </body>
</html>