<br>
<br>
<br>

<style> 
    table{
        border-collapse: collapse;
    }
    th, td {
        border: 2px solid black;
        padding: 8px; 
        text-align: left; 
    }
    td ul, td ol{
        list-style-position: inside; 
        padding-left: 0;
    }
</style>

<table id="post-list">
    <tr>
    <th>Title</th>
    <th>Created Date</th>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <th>Delete</th>
    {% endif %}
    
    </tr>

        {% for post in posts %}
            <tr>
                <td><a href="{{ path( 'viewAction', {'id': post.id} )}} " class="post-link" data-id="{{ post.id }}">{{ post.title }} </a></td>
                <td>{{ post.created|date('Y-m-d H:i:s') }}</td>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <td><a href="{{ path( 'deleteAction', {'id': post.id} )}} " class="post-delete" data-id="{{ post.id }}"> Delete </a></td>
                {% endif %}

            </tr>
        {% endfor %}


</table> 

